*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cirle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 10px;
}