:root {
    --primary-color: #7286D3;
    --primary-light-color: #8EA7E9;
    --secondary-color: #E5E0FF;
    --accent-color: #FFF2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--accent-color);
    overflow: hidden;
}

.main_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main_heading h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px var(--secondary-color);
    animation: glow 1s infinite;
    line-height: 130px;
}

.circle {
    width: 650px;
    height: 650px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.sport_img_1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    right: 15%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_4 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 15%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5%;
    right: 30%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5%;
    left: 30%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_5 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    right: 5%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_6 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 5%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_7 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.sport_img_8 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    /* background: var(--secondary-color); */
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: groww 2s infinite;
}

.tagline {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    letter-spacing: 1px;
    font-style: italic;
    /* font-family: cursive; */
}

svg {
    position: absolute;
    bottom: 0%;
    z-index: 0;
}

.flags {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.flags img {
    margin-left: 20px;
}

.flags img:first-of-type {
    margin-left: 0px;
}

@keyframes glow {
    0% {
        text-shadow: 0px 5px 5px var(--secondary-color);
    }

    50% {
        text-shadow: 0px 0px 0px var(--secondary-color);
        ;
    }

    100% {
        text-shadow: 5px 5px 5px var(--secondary-color);
    }

}

@keyframes groww {
    0% {
        transform: scale(.6);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.6);
    }

}